:root{
    --dark-text: rgb(65, 69, 81);
    --light-text: rgb(124, 126, 136);
    --light-background: rgb(246 247 251);
    --dark-background:  #2f323d;
    --border-radius: 8px;
}

*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   background-color: var(--light-background);
   font-family: Roboto, sans-serif;
   min-height: 100vh;
   height: 100%;
   display: grid;
   grid-template-columns: clamp(320px, 25%, 360px) 1fr;
}


/* SIDEBAR */
#sidebar {
   grid-column-start: 1;
   background: var(--dark-background);
   color: #cfd2e0;
   padding-top: 0.35rem;
   user-select: none;
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 30px;
   gap: 30px;
   font-size: 1.3rem;
   font-weight: 500;
}

#add-book-form {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.is-read {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}


/* MAIN */

#library-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
   grid-auto-rows: max-content;
   gap: 30px;
   padding: 30px;

}

.book-card {
   background-color: rgb(255, 255, 255);
   border-radius: 8px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);

   display: grid;
   grid-template-rows: 3fr 1fr;
   padding: 20px;
   transition: all 0.4s;
}

.book-info-container {
   display:flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-end;
   gap: 10px;
}

.book-title {
   align-self: center;
   justify-self: center;
   display: flex;
   justify-content: center;
   text-align: center;

   font-size: 2rem;
}

.card-divider-h {
   align-self: center;
   background-color: rgb(51, 51, 53);
   height: 1px;
   width: 80%;
 }

.book-author, .book-pagecount {
   font-size: 1.3rem;
}

.card-btn-container {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 10px;
}

.form-divider-h {
   background-color: rgb(219, 221, 231);
   height: 1px;
   width: 100%;
 }

 button[type="submit"] {
   align-self: stretch;
   padding: .8rem 1.3rem;
   font-size: 1.3rem;
   background-color: rgb(32, 72, 107);
   border: none;
   border-radius: 10px;
   color: white;
   letter-spacing: -1px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);

}

.btn-remove-book {
   padding: .8rem 1.3rem;
   font-size: 1.3rem;
   background-color: rgb(67, 88, 107);
   border: none;
   border-radius: 10px;
   color: white;
   letter-spacing: -1px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);

}

input[type='text'], input[type='number'] {
   width: 200px;
   padding: 5px;
   margin: 0;
   border: 1px solid rgb(112, 112, 112);
   border-radius: 5px;
   font-size: 0.9rem;
}

input[type='checkbox'] {
   width: 20px;
   height: 20px;
   margin: 0;
   border: 1px solid rgb(112, 112, 112);
   border-radius: 5px;
   font-size: 0.9rem;
}

/* Interaction */
button[type='submit']:hover {
   background-color: rgb(49, 105, 155);
   font-size: 1.35rem;
 }

 .btn-remove-book:hover {
   background-color: rgb(49, 105, 155);
 }